name: Update README

on:
  push:
    branches: [main]
    paths:
      - 'src/ver2/**'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: code checkout
        uses: actions/checkout@v4
          
      - name: run update_readme.py
        run: python scripts/update_readme.py
        
      - name: commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git diff --staged --quiet || git commit -m "docs: update README.md"
          git push